<mat-grid-list [cols]="breakpoint" rowHeight="3:1" (window:resize)="onResize($event)" >
  <div *ngFor="let item of items;let i=index">
  <mat-grid-tile >
    <div  fxFlex.gt-lg="30" fxFlex.gt-md="30" fxFlex.gt-xs="30" fxFlex="30" style="text-align: left;padding-left:10%"><h2>{{counters[i]}}</h2></div>
    <div  fxFlex.gt-lg="70" fxFlex.gt-md="70" fxFlex.gt-xs="70" fxFlex="70" style="text-align: right;padding-right:10% ;">
      <a  routerLink="{{item.path}}" style="color: black;">
    <span style="margin-right: 1%;font-size: 50px;" class="material-icons icon-size" >
      {{item.icon}}
      </span>
    <div class="title-size">{{item.title}}</div>
  </a>
  </div>
  </mat-grid-tile>
</div>
</mat-grid-list>  
  