
<div fxLayout="row wrap" >
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100" style="background-color: white;padding: 30px">
        <div class="d-flex flex-wrap">
            <div style="margin-bottom:2%;">
                <mat-card-title>Vertical Service Instance</mat-card-title>
             </div>
        </div>
        <div>
        <form [formGroup]="firstFormGroup" class="rules-form" fxFlex="100%" fxLayout.xs="column" fxLayout="column" fxLayoutAlign="left center">

            <ng-template matStepLabel>Descriptor Metadata</ng-template>

            <mat-form-field appearance="outline" color=primary class="rules-full-width">
                <input matInput  placeholder="Name" formControlName="name" required>
            </mat-form-field>

            <mat-form-field appearance="outline" color=primary class="rules-full-width">
                <input matInput placeholder="Description" formControlName="description" required>
            </mat-form-field> 


  
            <mat-form-field appearance="outline" color=primary class="rules-full-width">
                <mat-select formControlName="vsdId" name="vsdId" placeholder="Vsd Id"  (selectionChange)='onOptionsSelected($event)' >
                    <mat-option *ngFor="let vid of vsdInfos" [value]="vid.vsDescriptorId" >
                        {{vid.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="showConfigure" style="width: 100%;text-align: center;" >
                <div *ngFor="let cp of configurableParameters">    
                    <mat-form-field appearance="outline" color=primary class="rules-full-width">
                        <input matInput placeholder= {{cp}} (change)="selectedConfigureParam($event,cp)" required style="width: 100%;">
                    </mat-form-field> 
                   
                </div>
            </div>



            <div style="margin-top: 2%;">
                <button mat-raised-button color="primary" class="margin-all" (click)="createOnBoardVsInstanceRequest();">Submit</button>
            </div>
        </form>
    </div>
    </div>
</div>
