<!-- first version
<mat-horizontal-stepper [linear]="isLinear" #stepper >
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" class="rules-form" >
            <ng-template matStepLabel>Create VS Blueprint</ng-template>
            <table class="rules-full-width" cellspacing="0" fxFlex="100%"  fxLayout.xs="column" fxLayout="column" >
                <tr fxFlex="100%" fxLayout.xs="column" fxLayout="column"  style="width: 100%;">
                    <td>
                        <mat-form-field>
                            <input matInput id="name" placeholder="Name" formControlName="name">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput id="version" placeholder="Version" formControlName="version">
                        </mat-form-field>
                        <mat-form-field>
                         
							<input matInput id="description" placeholder="Description" formControlName="description" >
                        </mat-form-field>
                    </td>
                </tr>
                <tr fxFlex="100%"  fxLayout.xs="column" fxLayout="column">
                    <h4 style="color: black">Parameters</h4>
                    <div formArrayName="items" *ngFor="let item of firstFormGroup.get('items')['controls']; let i=index" fxFlex="100%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center" >
                        
                        <div [formGroupName]="i" fxFlex="100%"  fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="center center" style="width: 100%;" >                        
                            <td>
                                <mat-form-field appearance="outline" color=primary class="rules-full-width" fxFlex="100%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center">
									<mat-label>Parameter Id</mat-label>
									<input matInput placeholder="Parameter Id" formControlName="parameterId"  >
                                </mat-form-field>
                            </td>
                            <td fxFlex="100%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center">
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <input matInput placeholder="Parameter Name" formControlName="parameterName"  >
                                </mat-form-field>
                            </td>
                            <td fxFlex="100%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center">
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <input matInput placeholder="Parameter Type" formControlName="parameterType"  >
                                </mat-form-field>
							</td>
							<td fxFlex="100%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center">
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <input matInput placeholder="Parameter Description" formControlName="parameterDescription"  >
                                </mat-form-field>
							</td>
							<td fxFlex="100%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center">
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <input matInput placeholder="Applicability Field" formControlName="applicabilityField"  >
                                </mat-form-field>
                            </td>
                        </div>
                    </div>
                </tr>
                <tr>
                    <td class="margin-top"  fxFlex="100%"  fxLayout.xs="row" fxLayout="row" fxLayoutAlign="center center">
                        <div >
                            <button mat-fab (click)="removeItem();" *ngIf="items?.length > 1" color="primary"><mat-icon>remove</mat-icon></button>
						</div>
						<div >
                            <button mat-fab (click)="addsItem();" color="primary"><mat-icon>add</mat-icon></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
						<div class="button-row" style="margin-top: 3%;">
							<button mat-raised-button color="primary" matStepperPrevious>Back</button>
							<button mat-raised-button color="primary" matStepperNext (click)="onClickNext();">Next</button>
							</div>
                    </td>
                </tr>
            </table>
        </form>
    
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup" class="rules-form" >
            <ng-template matStepLabel>Configurable Parameters</ng-template>
            <table class="rules-full-width" cellspacing="0" fxFlex="100%"  fxLayout.xs="column" fxLayout="column" >
                <tr fxFlex="100%"  fxLayout.xs="column" fxLayout="column">
                    <h4 style="color: black">Parameters</h4>
                    <div formArrayName="itemsConf" *ngFor="let item of fourthFormGroup.get('itemsConf')['controls']; let k=index" fxFlex="100%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center" >
                        
                        <div [formGroupName]="k" fxFlex="100%"  fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="left left" style="width: 100%;" >                        
                            <td>
                                <mat-form-field appearance="outline" color=primary class="rules-full-width" fxFlex="100%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center">
									<input matInput placeholder="Parameter" formControlName="confComponents"  >
                                </mat-form-field>
                            </td>
                        </div>
                    </div>
                </tr>
                <tr>
                    <td class="margin-top"  fxFlex="100%"  fxLayout.xs="row" fxLayout="row" fxLayoutAlign="left left" style="margin-bottom: 2%;">
                        <div >
                            <button mat-fab (click)="removeConfItem();" *ngIf="itemsConf?.length > 1" color="primary"><mat-icon>remove</mat-icon></button>
						</div>
						<div >
                            <button mat-fab (click)="addConfItem();" color="primary"><mat-icon>add</mat-icon></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
						<div class="button-row" style="margin-top: 3%;">
							<button mat-raised-button color="primary" matStepperPrevious>Back</button>
							<button mat-raised-button color="primary" matStepperNext (click)="onClickNext();">Next</button>
							</div>
                    </td>
                </tr>
            </table>
        </form>
    
    </mat-step>

        <mat-step *ngIf="envCondition()" [stepControl]="thirdFormGroup" >
            
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Upload NSD</ng-template>
                <input #nsdFiles type="file" formControlName="nsd" (change)="onUploadedNsd($event,nsdFiles.files)"  required/>
                <div class="button-row" style="margin-top: 3%;">
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" matStepperNext (click)="onClickNext();">Next</button>
               </div>
            </form>
        
        </mat-step>
        <mat-step *ngIf="showNst" [stepControl]="sixthFormGroup" >
            
            <form [formGroup]="sixthFormGroup">
                <ng-template matStepLabel>Upload NST</ng-template>
                <input #nsdFiles type="file" formControlName="nsd" (change)="onUploadedNst($event,nsdFiles.files)"  required/>
                <div class="button-row" style="margin-top: 3%;">
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" matStepperNext (click)="onClickNext();">Next</button>
               </div>
            </form>
        
        </mat-step>
    
    <mat-step [stepControl]="secondFormGroup" >
        <form [formGroup]="secondFormGroup">
			<ng-template matStepLabel>Upload Components</ng-template>
            <input #vsbFile type="file" formControlName="vsbComponents" (change)="onUploadedvsb($event,vsbFile.files)" required/>
            <div class="button-row" style="margin-top: 3%;">
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext (click)="onClickNext();">Next</button>
           </div>
        </form>
    </mat-step>


<mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup" class="rules-form" >
        <ng-template matStepLabel>Create Translation Rules</ng-template>
        <table fxFlex="100%"  fxLayout.xs="column" fxLayout="column" >

                <div class="address-container" *ngFor="let group of nstArray.controls; let i = index;" formArrayName="nstGroup">
                    <div [formGroupName]='i' fxFlex="100%" fxLayout.xs="column" fxLayout="row"  style="width: 100%;">
                        <tr fxFlex="100%" fxLayout.xs="column" fxLayout="column" fxLayoutAlign="left left" style="width: 100%;">
                            <td  *ngIf="envCondition()">
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <input matInput id="nsdId" placeholder="NSD Id" required formControlName="nsdId">
                                </mat-form-field>
                            </td>
                            <td *ngIf="envCondition()">
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <input matInput id="nsdVersion" placeholder="NSD Version" required formControlName="nsdVersion">
                                </mat-form-field>
                            </td>

                            <td>
                                <mat-form-field appearance="outline" color=primary >
                                    <mat-select formControlName="nstId" class="example-select" placeholder="NstId" >
                                        <mat-option *ngFor="let info of nslicesInfos" [value]="info.nst.nstId" >
                                        {{info.nst.nstName}}
                                        </mat-option>
                                        </mat-select>
    
                                    </mat-form-field>
                            </td>
                        </tr>
                        <tr fxFlex="100%" fxLayout.xs="column" fxLayout="column" fxLayoutAlign="left left" style="width: 100%;">
                            <td *ngIf="envCondition()">
                                <mat-form-field appearance="outline" class="rules-full-width">
                                    <mat-label>NS Flavour Id</mat-label>
                                    <mat-select formControlName="nsFlavourId" name="nsFlavourId" (selectionChange)="onNsDfSelected($event);">
                                        <mat-option *ngFor="let df of dfs" [value]="df.nsDfId">
                                            {{df.nsDfId}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td> 
                            <td *ngIf="envCondition()">
                                <mat-form-field appearance="outline" class="rules-full-width">
                                    <mat-label>NS Instantiation Level Id</mat-label>
                                    <mat-select formControlName="nsInstLevel" name="nsInstLevel">
                                        <mat-option *ngFor="let instLevel of instLevels" [value]="instLevel.nsLevelId">
                                            {{instLevel.nsLevelId}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td *ngIf="envCondition()" fxFlex="100%" fxLayout.xs="column" fxLayout="column"  style="width: 100%;">
                                <mat-card style="width: 100%;padding: 0px;"> 
                                    <mat-card-content  style="padding: 0px;padding-right: 18px;">
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title style="color: blue;">Parameters </mat-panel-title>
        
                                                      <ng-template matExpansionPanelContent>
                                                        <div formArrayName='input' fxFlex="100%"  fxLayout.xs="column" fxLayout.sm="column" fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
                                                            <div *ngFor="let subgroup of group.controls.input.controls; let idx = index;" [formGroupName]="idx" fxFlex="100%"  fxLayout.xs="column" fxLayout.sm="row" fxLayout="row" fxLayoutAlign="center center" style="width: 100%">
                                                                <td fxFlex="33%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center">
                                                                    <mat-form-field appearance="outline" color=primary>
                                                                        <mat-select formControlName="parameterId" placeholder="Parameter Id">
                                                                            <mat-option *ngFor="let param of prevPId" [value]="param">
                                                                                {{param}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>  
                                                                </td>
                                                                <td fxFlex="33%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center">
                                                                    <mat-form-field appearance="outline" color=primary>
                                                                        <input matInput placeholder="Min Value"  formControlName="minValue">
                                                                    </mat-form-field>
                                                                </td>
                                                                <td fxFlex="33%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center">
                                                                    <mat-form-field appearance="outline" color=primary>
                                                                        <input matInput placeholder="Max Value"  formControlName="maxValue">
                                                                    </mat-form-field>
                                                                </td>
                                                            </div>
                                                            <td class="margin-top"  fxFlex="100%"  fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center center">
                                                            <div style="margin-right: 1%;" >
                                                                <button mat-raised-button (click)="addNstInput(i)" color="primary">Add Parameter</button>
                                                            </div>
                                                     
                                                            <div >
                                                                <button mat-raised-button (click)="removeNstInput(i)"  *ngIf="nstInptArr[i] > 0"  color="primary">remove Parameter</button>
                                                            </div>
                                                        </td>
                                                        </div>
                                                    </ng-template>
                                                </mat-expansion-panel-header>
            
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </mat-card-content>
                                </mat-card>
                            </td>
                        </tr>
                    </div>
                  </div>
                  <tr fxFlex="100%" fxLayout.xs="column" fxLayout="column"  style="width: 100%">
                    <td fxFlex="100%"  fxLayout.xs="row" fxLayout="row" fxLayoutAlign="center center">
                            <div >
                                <button mat-fab (click)="removeNst();" *ngIf="nstArray?.length > 1" color="primary"><mat-icon>remove</mat-icon></button>
                            </div>
                            <div >
                                <button mat-fab (click)="addnst();" color="primary"><mat-icon>add</mat-icon></button>
                            </div>
                    </td>
                </tr>
                 

            <tr>
				<td>
					<div class="margin-top"  fxFlex="100%"  fxLayout.xs="row" fxLayout="row" style="margin-top: 5%;">
						<button mat-raised-button matStepperPrevious color="primary" class="margin-all" style="margin-right: 2px;">Back</button>
						<button mat-raised-button (click)="stepper.reset()" color="warn" class="margin-all" style="margin-right: 2px;">Reset</button>
						<button mat-raised-button color="accent" class="margin-all" (click)="createVsb();">Submit</button>
					</div>
				</td>
			</tr>
        </table>
    </form>

</mat-step>
</mat-horizontal-stepper>
-->








<mat-horizontal-stepper [linear]="isLinear" #stepper >
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Upload VSB</ng-template>
            <input #vsbFiles type="file" formControlName="vsb" (change)="onUploadedVsb($event,vsbFiles.files)"  required/>
            <div class="button-row" style="margin-top: 3%;">
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext >Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step *ngIf="showNst" [stepControl]="secondFormGroup" >
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Upload NST</ng-template>
            <input #nstFiles type="file" formControlName="nst" (change)="onUploadedNst($event,nstFiles.files)"  required/>
            <div class="button-row" style="margin-top: 3%;">
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext (click)="createOnBoardNstRequest()"  >Next</button>
           </div>
        </form>
    </mat-step>
    <mat-step *ngIf="envCondition()" [stepControl]="thirdFormGroup" >   
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Upload NSD</ng-template>
            <input #nsdFiles type="file" formControlName="nsd" (change)="onUploadedNsd($event,nsdFiles.files)"  required/>
            <div class="button-row" style="margin-top: 3%;">
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
           </div>
        </form>
    </mat-step>
    <mat-step *ngIf="envCondition()" [stepControl]="fourthFormGroup" >   
        <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Upload Vnf Packages</ng-template>
            <input #vnfFiles type="file" formControlName="vnfp" (change)="onUploadedVnfP($event,vnfFiles.files)"  required/>
            <div class="button-row" style="margin-top: 3%;">
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext (click)="getNsts()">Next</button>
           </div>
        </form>
    </mat-step>
<mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup" class="rules-form" >
        <ng-template matStepLabel>Create Translation Rules</ng-template>
        <table fxFlex="100%"  fxLayout.xs="column" fxLayout="column" >

                <div class="address-container" *ngFor="let group of nstArray.controls; let i = index;" formArrayName="nstGroup">
                    <div [formGroupName]='i' fxFlex="100%" fxLayout.xs="column" fxLayout="row"  style="width: 100%;">
                        <tr fxFlex="100%" fxLayout.xs="column" fxLayout="column" fxLayoutAlign="left left" style="width: 100%;">
                            <td *ngIf="envCondition()">
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <mat-label>NSD Id</mat-label>
                                    <input matInput id="nsdId" placeholder="NSD Id"  formControlName="nsdId" [ngModel]="this.nsdIdentifier">
                                </mat-form-field>
                            </td>
                            <td *ngIf="envCondition()">
                                <mat-form-field appearance="outline" color=primary class="rules-full-width">
                                    <mat-label>NSD Version</mat-label>
                                    <input matInput id="nsdVersion" placeholder="NSD Version"  formControlName="nsdVersion" [ngModel]="this.nsdVersion">
                                </mat-form-field>
                            </td>
                            <td>
                                <!--
                                <mat-form-field appearance="outline" color=primary >
                                    <mat-select formControlName="nstId" class="example-select" placeholder="NstId">
                                        <mat-option *ngFor="let info of nslicesInfos" [value]="info.nst.nstId" >
                                        {{info.nst.nstName}}
                                        </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                -->

                                <mat-form-field appearance="outline" color=primary >
                                    <mat-label>Nst Id</mat-label>
                                    <input matInput id="NstId" placeholder="Nst Id"  formControlName="nstId" [ngModel]="this.nstId">
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr fxFlex="100%" fxLayout.xs="column" fxLayout="column" fxLayoutAlign="left left" style="width: 100%;">
                            <td *ngIf="envCondition()">
                                <mat-form-field appearance="outline" class="rules-full-width">
                                    <mat-label>NS Flavour Id</mat-label>
                                    <mat-select formControlName="nsFlavourId" name="nsFlavourId" (selectionChange)="onNsDfSelected($event);">
                                        <mat-option *ngFor="let df of dfs" [value]="df.nsDfId">
                                            {{df.nsDfId}}
                                        </mat-option>
                                    </mat-select>                               
                                </mat-form-field>
                            </td> 
                            <td *ngIf="envCondition()">
                                <mat-form-field appearance="outline" class="rules-full-width">
                                   
                                    <mat-select formControlName="nsInstantiationLevelId" placeholder="NS InstantiationLevel Id" name="nsInstantiationLevelId">
                                        <mat-option *ngFor="let instLevel of instLevels" [value]="instLevel.nsLevelId">
                                            {{instLevel.nsLevelId}}
        
                                        </mat-option>
                                    </mat-select>                                
                                </mat-form-field>
                            </td>
                            <td fxFlex="100%" fxLayout.xs="column" fxLayout="column"  style="width: 100%;">
                                <mat-card style="width: 100%;padding: 0px;"> 
                                    <mat-card-content  style="padding: 0px;padding-right: 18px;">
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title style="color: blue;">Parameters </mat-panel-title>
        
                                                      <ng-template matExpansionPanelContent>
                                                        <div formArrayName='input' fxFlex="100%"  fxLayout.xs="column" fxLayout.sm="column" fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
                                                            <div *ngFor="let subgroup of group.controls.input.controls; let idx = index;" [formGroupName]="idx" fxFlex="100%"  fxLayout.xs="column" fxLayout.sm="row" fxLayout="row" fxLayoutAlign="center center" style="width: 100%">
                                                                <td fxFlex="33%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center">
                                                                    <mat-form-field appearance="outline" color=primary>
                                                                        <mat-select formControlName="parameterId" placeholder="Parameter Id">
                                                                            <mat-option *ngFor="let param of paramsVsb" [value]="param">
                                                                                {{param}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>  
                                                                </td>
                                                                <td fxFlex="33%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center">
                                                                    <mat-form-field appearance="outline" color=primary>
                                                                        <input matInput placeholder="Min Value"  formControlName="minValue" type="number">
                                                                    </mat-form-field>
                                                                </td>
                                                                <td fxFlex="33%"  fxLayout.xs="column" fxLayout="column" fxLayoutAlign="center center">
                                                                    <mat-form-field appearance="outline" color=primary>
                                                                        <input matInput placeholder="Max Value"  formControlName="maxValue" type="number">
                                                                    </mat-form-field>
                                                                </td>
                                                            </div>
                                                            <td class="margin-top"  fxFlex="100%"  fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center center">
                                                            <div style="margin-right: 1%;" >
                                                                <button mat-raised-button (click)="addNstInput(i)" color="primary">Add Parameter</button>
                                                            </div>
                                                     
                                                            <div >
                                                                <button mat-raised-button (click)="removeNstInput(i)"  *ngIf="nstInptArr[i] > 0"  color="primary">remove Parameter</button>
                                                            </div>
                                                        </td>
                                                         <!--  <button mat-raised-button (click)="addNstInput(i)" color="primary">Add Parameter</button> --> 
                                                        </div>
                                                    </ng-template>
                                                </mat-expansion-panel-header>
            
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </mat-card-content>
                                </mat-card>
                            </td>
                        </tr>
                    </div>
                  </div>
                  <tr fxFlex="100%" fxLayout.xs="column" fxLayout="column"  style="width: 100%">
                    <td fxFlex="100%"  fxLayout.xs="row" fxLayout="row" fxLayoutAlign="center center">
                            <div >
                                <button mat-fab (click)="removeNst();" *ngIf="nstArray?.length > 1" color="primary"><mat-icon>remove</mat-icon></button>
                            </div>
                            <div >
                                <button mat-fab (click)="addnst();" color="primary"><mat-icon>add</mat-icon></button>
                            </div>
                    </td>
                </tr>
                 

            <tr>
				<td>
					<div class="margin-top"  fxFlex="100%"  fxLayout.xs="row" fxLayout="row" style="margin-top: 5%;">
						<button mat-raised-button matStepperPrevious color="primary" class="margin-all" style="margin-right: 2px;">Back</button>
						<button mat-raised-button (click)="stepper.reset()" color="warn" class="margin-all" style="margin-right: 2px;">Reset</button>
						<button mat-raised-button color="accent" class="margin-all" (click)="createVsb();">Submit</button>
					</div>
				</td>
			</tr>
        </table>
    </form>

</mat-step>
</mat-horizontal-stepper>
