
table {
  width: 100%;
}
.dialog{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 40px;
  }
  .example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}