<div class="user-profile" style="background-color: #64b5f6">
    <div class="profile-img">
         <div>
             <img src="assets/images/user_icon.png" alt="user">
            </div>
        <div style="width:100%;float: right;margin-top: -56px;margin-right: -90px">
            <a style="color: black;"> 
            <b>Welcome {{userName}}</b>  
         </a>
        </div>
    </div>    
</div>
<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'" style="padding-left:10px;padding-right: 3px;width: 220px;">
            <mat-icon style="margin-left: -8px">{{ menuitem.icon }}</mat-icon> 
            <span style="font-size: 14px;margin-left: -3px">{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
        </a>
    </mat-list-item>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'sublink'">
            <button mat-icon-button [matMenuTriggerFor]="menu4">
                <mat-icon>more_vert</mat-icon>
                <span class="sublink" >{{ menuitem.name }}</span> 
            </button>
            <mat-menu #menu4="matMenu">
                <a class="" appAccordionToggle [routerLink]="['/onboarding']" >
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>VS Blueprint onboarding</span>
                </button>
            </a>
            <a class="" appAccordionToggle [routerLink]="['/vsblueprint']" >
                <button mat-menu-item>
                    <mat-icon>voicemail</mat-icon>
                    <span>VS Blueprints</span>
                </button>
            </a>
            </mat-menu>
        </a>
    </mat-list-item>
</mat-nav-list>