<div fxLayout="row wrap">
  <!-- column -->    
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
          <mat-card-content>
            <div class="d-flex flex-wrap">
              <div>
                  <mat-card-title>Vertical Service Descriptor</mat-card-title>
               </div>
               <div class="ml-auto">

                <div class="dialog" style="text-align: right;margin-top: 0;" *ngIf="groupLogin=='TENANT'">
                  <button mat-raised-button  color="primary"  [routerLink]="['/vsdescriptor-add']" >Add VS Descriptor</button>
                </div>                      
  
              </div>
          </div>
                  <div>
                    <table mat-table  matSort aria-label="Elements" style="width: 100%;margin:0;" >

                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                        <td mat-cell *matCellDef="let row"><b>{{row.vsDescriptorId}}</b></td>
                      </ng-container>

                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let row"><b>{{row.name}}</b></td>
                      </ng-container>

                      <ng-container matColumnDef="version">
                        <th fxShow.xs="false" mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
                        <td fxShow.xs="false" mat-cell *matCellDef="let row"><b>{{row.version}}</b></td>
                      </ng-container>
                  
                      <ng-container matColumnDef="vsb">
                        <th fxShow.xs="false" mat-header-cell *matHeaderCellDef mat-sort-header>VSB</th>
                        <td fxShow.xs="false" mat-cell *matCellDef="let row"><b>{{row.vsBlueprintId}}</b></td>
                      </ng-container>

                      <ng-container matColumnDef="sst">
                        <th fxShow.xs="false" mat-header-cell *matHeaderCellDef mat-sort-header>SST</th>
                        <td fxShow.xs="false" mat-cell *matCellDef="let row"><b>{{row.sst}}</b></td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                        <td mat-cell *matCellDef="let row"><b><button (click)="deleteVsDesc(row.vsDescriptorId,row.name)"  mat-raised-button color="primary">Delete</button></b></td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator
                        [length]="dataSource?.data.length"
                        [pageIndex]="0"
                        [pageSize]="50"
                        [pageSizeOptions]="[25, 50, 100, 250]"
                         style="width: 100%;text-align: center;margin-top: 2%;">
                    </mat-paginator>
                  </div>
          
          </mat-card-content>
      </mat-card>
  </div>   
</div>