
  <div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
              <div class="d-flex flex-wrap">
                <div>
                    <mat-card-title>Vertical Service Instances</mat-card-title>
                 </div>
                 <div class="ml-auto">

                  <div class="dialog" style="text-align: right;margin-top: 0;" *ngIf="groupLogin!='ADMIN'">
                    <button mat-raised-button  color="primary"  [routerLink]="['/vsinstance-add']" >Instantiate VS</button>
                  </div>                      
    
                </div>
            </div>
                    <div>
                      <table mat-table  [dataSource]="dataSource" matSort aria-label="Elements" style="width: 100%;margin:0;" >
                        <ng-container matColumnDef="id">
                          <th fxShow.xs="false" mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                          <td fxShow.xs="false" mat-cell *matCellDef="let row"><b>{{row.vsiId}}</b></td>
                        </ng-container>
  
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                          <td mat-cell *matCellDef="let row"><b>{{row.name}}</b></td>
                        </ng-container>
                    
                        <ng-container matColumnDef="description">
                          <th fxShow.xs="false" mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                          <td fxShow.xs="false" mat-cell *matCellDef="let row"><b>{{row.description}}</b></td>

                        </ng-container>
                        <ng-container matColumnDef="details">
                          <th fxShow.xs="false" mat-header-cell *matHeaderCellDef mat-sort-header></th>
                          <td fxShow.xs="false" mat-cell *matCellDef="let row"> <button color="primary" style="color: blue;" mat-menu-item  (click)="viewVsiDetails(row.vsiId)">view Details</button></td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                          <td mat-cell *matCellDef="let row">
                            <button  mat-raised-button color="primary"  (click)="terminateVsi(row.vsiId)">Terminate</button>
                            <button  mat-raised-button color="primary"  (click)="deleteVsi(row.vsiId)">Delete</button>
                          </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let rows; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator #paginator
                          [length]="50"
                          [pageIndex]="0"
                          [pageSize]="50"
                          [pageSizeOptions]="[25, 50, 100, 250]"
                           style="width: 100%;text-align: center;margin-top: 2%;">
                      </mat-paginator>
                    </div>
            
            </mat-card-content>
        </mat-card>
    </div>   
  </div>

