<div fxLayout="row wrap">
  <!-- column -->    
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
          <mat-card-content>
            <div class="d-flex flex-wrap">
              <div>
                  <mat-card-title>Network Slice Templates</mat-card-title>
               </div>
               <div class="ml-auto">

                <div class="dialog" style="text-align: right;margin-top: 0;">
                  <button mat-raised-button  color="primary"  [routerLink]="['/nslices-add']" >Add NS Template</button>
                </div>                      
  
              </div>
          </div>
                  <div>
                    <table mat-table  matSort aria-label="Elements" style="width: 100%;margin:0;" >
  

                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let row"><b>{{row.nst.nstName}}</b></td>
                      </ng-container>

                      <ng-container matColumnDef="version">
                        <th fxShow.xs="false" mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
                        <td fxShow.xs="false" mat-cell *matCellDef="let row"><b>{{row.nst.nstVersion}}</b></td>
                      </ng-container> 

                      <ng-container matColumnDef="provider">
                        <th fxShow.xs="false" mat-header-cell *matHeaderCellDef mat-sort-header>Provider</th>
                        <td fxShow.xs="false" mat-cell *matCellDef="let row"><b>{{row.nst.nstProvider}}</b></td>
                      </ng-container>

                      <ng-container matColumnDef="nssts">
                        <th fxShow.xs="false" fxShow.sm="false" mat-header-cell *matHeaderCellDef mat-sort-header>NSSTs</th>
                        <td fxShow.xs="false" fxShow.sm="false" mat-cell *matCellDef="let row"><b>{{row.nst.nstId}}</b></td>
                      </ng-container>
                      
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                        <td mat-cell *matCellDef="let row">
                          <button mat-raised-button color="primary" (click)="deleteNslices(row.nst.nstId,row.nst.nstName)">Delete</button>
                        </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator
                        [length]="dataSource?.data.length"
                        [pageIndex]="0"
                        [pageSize]="50"
                        [pageSizeOptions]="[25, 50, 100, 250]"
                         style="width: 100%;text-align: center;margin-top: 2%;">
                    </mat-paginator>
                  </div>
          
          </mat-card-content>
      </mat-card>
  </div>   
</div>