
<mat-horizontal-stepper [linear]="isLinear" #stepper class="full-width-table blvss-container full-width-table-md ">
	<mat-step id="step-1" [stepControl]="firstFormGroup">
		<form [formGroup]="firstFormGroup" id="vnfdForm">
          <ng-template matStepLabel>Create NSI</ng-template>
          
		  <mat-form-field>
            <mat-select id="nstId" formControlName="nstId" class="example-select" placeholder="Nst Id" >
                <mat-option *ngFor="let info of nslicesInfos" [value]="info.nst.nstId" >
                {{info.nst.nstName}}
                </mat-option>
                </mat-select>
		   </mat-form-field>
		   <mat-form-field>
			<input matInput id="name" placeholder="Name" formControlName="name" >
		   </mat-form-field>
		   <mat-form-field>
			<input matInput id="description" placeholder="Description" formControlName="description" >
		   </mat-form-field>
		   
		  <div class="button-row" style="margin-top: 3%;">
			<button mat-raised-button color="primary" matStepperPrevious>Back</button>
			<button mat-raised-button color="primary" (click)="createNsi()" matStepperNext>Next</button>
			</div>
		</form>
	  </mat-step>

	  <mat-step id="step-2" [stepControl]="secondFormGroup">
		<form [formGroup]="secondFormGroup">
		  <ng-template matStepLabel>Create Domain Interface </ng-template>
		  <mat-form-field>
			<input matInput id="nsiId" value={{nsiId}} disabled>
		   </mat-form-field>
		   <mat-form-field>
			<input matInput id="dfId" placeholder="df Id" formControlName="dfId" >
		   </mat-form-field>
		   <mat-form-field>
			<input matInput id="instantiationLevelId" placeholder="Instantiation Level Id" formControlName="instantiationLevelId" >
		   </mat-form-field>
		   <mat-form-field>
			<input matInput id="latitude" placeholder="latitude" formControlName="latitude" >
		   </mat-form-field>
		   <mat-form-field>
			<input matInput id="longitude" placeholder="longitude" formControlName="longitude" >
		   </mat-form-field>
		   <mat-form-field>
			<input matInput id="altitude" placeholder="altitude" formControlName="altitude" >
		   </mat-form-field>
		   <mat-form-field>
			<input matInput id="range" placeholder="range" formControlName="range" >
		   </mat-form-field>
		   <mat-form-field>
			<input matInput id="ranEndPointId" placeholder="Ran End Point Id" formControlName="ranEndPointId" >
		   </mat-form-field>
		  <div class="button-row" style="margin-top: 3%;">
			<button mat-raised-button matStepperPrevious color="primary" class="margin-all" style="margin-right: 2px;">Back</button>
			<button mat-raised-button (click)="stepper.reset()" color="warn" class="margin-all" style="margin-right: 2px;">Reset</button>
			<button mat-raised-button color="accent" class="margin-all" (click)="createNsiWithDetails();">Submit</button>
			</div>
		</form>
	  </mat-step>
</mat-horizontal-stepper>
