<mat-horizontal-stepper [linear]="isLinear" #stepper class="full-width-table blvss-container full-width-table-md ">
    <mat-step [stepControl]="firstFormGroup" >
        <form [formGroup]="firstFormGroup">
			<ng-template matStepLabel>Upload Nst</ng-template>
            <input #nstFile type="file" formControlName="firstCtrl" (change)="onUploadedNst($event,nstFile.files)" required/>
            <div class="button-row" style="margin-top: 3%;" *ngIf="!vsmfMode">
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
            <div class="margin-top" *ngIf="vsmfMode">
                <button mat-raised-button matStepperNext color="primary" class="margin-all" style="margin-top: 2%;" (click)="createOnBoardNstRequest();">submit</button>
            </div>
        </form>
    </mat-step>
    <mat-step *ngIf="showNsd" [stepControl]="secondFormGroup" >
        <form [formGroup]="secondFormGroup">
			<ng-template matStepLabel>Upload Nsd</ng-template>
            <input #nsdFile type="file" formControlName="secondCtrl" (change)="onUploadedNsd($event,nsdFile.files)" required/>
            <div class="margin-top" *ngIf="!nsmfMode">
                <button mat-raised-button matStepperNext color="primary" class="margin-all" style="margin-top: 2%;" (click)="createOnBoardNstRequest();">submit</button>
            </div>
            <div class="button-row" style="margin-top: 3%;" *ngIf="nsmfMode">
                <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step *ngIf="nsmfMode" [stepControl]="thirdFormGroup" >
        <form [formGroup]="thirdFormGroup">
			<ng-template matStepLabel>Upload Vnf Packages</ng-template>
            <input #vnfFile type="file" formControlName="thirdCtrl" (change)="onUploadedVnfP($event,vnfFile.files)" required/>
            <div class="margin-top">
                <button mat-raised-button matStepperNext color="primary" class="margin-all" style="margin-top: 2%;" (click)="createOnBoardNstRequest();">submit</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>

