<div class="main-container" *ngIf="!isLoginPage"> 
    <mat-toolbar color="primary" class="topbar telative" style="background-color: #024985;">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/dashboard']" style="color: white">
                <b>
                    <span class="material-icons" style="margin-right: 20px;">
                        edit
                        </span>
                SEBASTIAN
                </b> </a>
        </div>
        <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
            <mat-icon>menu</mat-icon>
        </button>

        <span fxFlex></span>
        <app-header></app-header>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches"  >
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content class="page-wrapper">
                <div class="page-content">
                   <!-- <router-outlet><app-spinner></app-spinner></router-outlet> -->
                    <router-outlet></router-outlet> 
                </div>    
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<div *ngIf="isLoginPage"> 
   
    <mat-sidenav-container style="background-color: #024985;"  [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
       
        <mat-sidenav-content >
                <div >
                    <router-outlet></router-outlet> 
                </div>    
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

