<settings>
    <proxies>
        <proxy>
            <id>genproxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>163.162.8.137</host>
            <port>9777</port>
            <nonProxyHosts>localhost|*.example.com</nonProxyHosts>
        </proxy>
    </proxies>
</settings>