<div fxLayout="row wrap">    
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
          <mat-card-content style="line-height: 67px;">
            <div class="d-flex flex-wrap">
              <div>
                  <mat-card-title>Tenant SLAs</mat-card-title>
               </div>
          </div>
                  <div>
                    <table mat-table  matSort aria-label="Elements" style="width: 100%;margin:0;" >
                     
                      <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                        <td mat-cell *matCellDef="let row"><b>{{row.id}}</b></td>
                      </ng-container>
                      <ng-container matColumnDef="Scope">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Scope</th>
                        <td mat-cell *matCellDef="let row">
                        <tr *ngFor="let param of row.slaConstraints; let i = index">
                          <div *ngIf="param.scope=='GLOBAL_VIRTUAL_RESOURCE'">
                          <td>
                            <b>Global</b>
                          </td>
                        </div>
                        <div *ngIf="param.scope=='MEC_RESOURCE'">
                          <td>
                            <b>MEC</b>
                          </td>
                        </div>
                        <div *ngIf="param.scope=='CLOUD_RESOURCE'">
                          <td>
                            <b>Cloud</b>
                          </td>
                        </div>
                        </tr>
                      </td>
                      </ng-container>
                      <ng-container matColumnDef="MaxRAM">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Max RAM</th>
                        <td mat-cell *matCellDef="let row">
                          <tr *ngFor="let param of row.slaConstraints">
                            <td>
                              <b>{{param.maxResourceLimit.memoryRAM}} MB</b>
                            </td>   
                          </tr>     
                      </ng-container>
  
                      <ng-container matColumnDef="MaxVCPUs">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Max vCPUs</th>
                        <td mat-cell *matCellDef="let row">
                          <tr *ngFor="let param of row.slaConstraints">
                            <td>
                              <b>{{param.maxResourceLimit.vCPU}} CPUs</b>
                            </td>   
                          </tr>     
                      </ng-container>

                      <ng-container matColumnDef="MaxVStorage">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Max vStorage</th>
                        <td mat-cell *matCellDef="let row">
                          <tr *ngFor="let param of row.slaConstraints">
                            <td>
                              <b>{{param.maxResourceLimit.diskStorage}} GB</b>
                            </td>   
                          </tr>     
                      </ng-container>
                      <ng-container matColumnDef="Location">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                        <td mat-cell *matCellDef="let row">
                        <tr *ngFor="let param of row.slaConstraints"><td><b>{{param.location}}</b></td></tr>
                      </td>
                      </ng-container>
                      <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                        <td mat-cell *matCellDef="let row"><b>{{row.slaStatus}}</b></td>
                      </ng-container>
                  
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let row">
                          <button (click)="deleteSla(row.id)"  mat-raised-button color="primary">Delete</button>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator
                        [length]="dataSource?.data.length"
                        [pageIndex]="0"
                        [pageSize]="50"
                        [pageSizeOptions]="[25, 50, 100, 250]"
                         style="width: 100%;text-align: center;margin-top: 2%;">
                    </mat-paginator>
                  </div>
          
          </mat-card-content>
      </mat-card>
  </div>   
</div>